@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'wenKai'; /* 自定义字体名称 */
    src: url('../assets/font/LXGWWenKai-Regular.ttf') format('truetype'); /* 字体文件路径和格式 */
    font-weight: normal; /* 字体粗细 */
    font-style: normal; /* 字体样式 */
}

@layer base {
    html,
    body {
        /*font-family: 'SimSun','Arial', sans-serif;*/
        /*font-family: 'SimSun','Arial', sans-serif;*/
        /*font: 14px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;*/
        /*font-family: Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;*/
        font-family: Helvetica, Tahoma, Arial, "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei",sans-serif;
        font-family: Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei",sans-serif;
    }
}

.n-message-wrapper{
    @apply mb-10;/*每个消息提示距离底部48px*/
}
.n-message .n-message__content {
    @apply text-justify;
}
.svg-button{
    @apply cursor-pointer  w-4 h-4 fill-current hover:text-green-600 focus:outline-none;
}

.setting-card{
    @apply bg-gray-200 rounded-lg pl-6 pt-2 pb-2 pr-6 mr-6 text-base;
}
.setting-card-row{
    @apply flex justify-between items-center w-full mt-3;
}
.n-divider:not(.n-divider--vertical) {
    margin-top: 5px;
    margin-bottom: 5px;
}
.n-scrollbar > .n-scrollbar-rail.n-scrollbar-rail--vertical--right{
    right: 0;/*进度条紧贴右边边缘不要留空*/
}